.rounded {
  border-radius: 50%;
}

.post-content {
  code {
    background: #333;
    color: #fff;
  }

  pre {
    code {
      width: 100%;
      padding: 10px;
    }
  }

  blockquote {
    border-left: 3px solid #ff5722;
    padding-left: 10px;
    color: #777;
    font-size: 1.2em;
  }

  img {
    width: 100%;
  }
}